body {
	font-family: clear_sansregular;
	font-size: 24px;
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
	overflow: auto;
	color: #4A4A4A;
}
.contentt,.contentt3,.contentb,.contentb3,.footer,.footert,.header {
	margin: 0px auto 0px;
	width: 100%;
}
.mbcontainer {
	float: left;
	overflow: hidden;
	padding-left: 0%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 0%;
	line-height: 46px;
	box-sizing: border-box;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.mbspacer1,.mbspacer2,.mbspacer3,.mbspacer4,.mbspacer5,.mbspacer6 {
	float: left;
	width: 5%;
}
/**Formrows******************************************************************************************************************************************/
.flabel {
	width: 40%;
}
.fcontent {
	width: 60%;
	padding-right: 10px;
}
.ferror {
	font-family: clear_sans_lightregular;
	color: #E83E2E;
	text-align: center;
	padding-left: 20px !important;
	width: 100%;
	line-height: 3em;
}
.hlabel {
	text-align: right;
	padding-right: 20px !important;
	width: 10%;
	line-height: 3em;
}
.hcontent {
	width: 80%;
	font-size: 1.5em;
	line-height: 3em;
	text-align: center;
}
.herror {
	text-align: left;
	padding-left: 20px !important;
	width: 10%;
	line-height: 3em;
}
/**Dashboard & Header**********************************************************************************************************************************/
.dbe {
	left:20%;
	width:70%;
}
.dbswitch {
	width: 10%;
}
.navstatus {
	display: none;
}
.bc {
	top:0px; 
	left:0px;
}
/**Breadcrumb**********************************************************************************************************************************/
.navbar {
	width: 90%;
}