body {
	font-size: 4em;
}
/**Textbox******************************************************************************************************************************************/
.tb { 
	font-size: 1em;
    height: 1em;
    width: 80%;
} 
.ta { 
	font-size: 1em;
    height: 1em;
    width: 80%;
} 
.tb_locked { 
	font-family: clear_sansregular;
	font-size: 20px;
    border: solid 1px #D4D4D4; 
    outline: none; 
    padding-right: 5px !important;
    padding-bottom: 2px !important;
    padding-left: 5px !important;
    padding-top: 2px !important;
    height: 40px;
    color: #D4D4D4;
    width: 100%;
    box-sizing:border-box;
} 
.ta_locked { 
	font-size: 1em;
    height: 1em;
    width: 80%;
} 
.tbs { 
	font-size: 1em;
    height: 1em;
    width: 80%;
} 
/**Breiten in 5er Schritten******************************************************************************************************************************************/
.w5p,.w10p,.w15p,.w20p,.w25p,.w30p,.w35p,.w40p,.w45p,.w50p,.w55p,.w60p,.w65p,.w70p,.w75p,.w80p,.w85p,.w90p,.w95p,.w100p
	{
	line-height: 1.2em;
}
.w30p {
	width: 100%;
	text-align:center;
}
.w40p {
	width: 100%;
	text-align:center;
}